<!-- main header area -->
<header class="main-header">
    <!--header upper start-->
    <div class="header-upper">
        <div class="container">
            <ul class="top-left">
                <li><i class="fa fa-phone"></i>SUPPORT NUMBER:<a href="tel:+919163571821">+919163571821</a></li>
                <li><i class="fa fa-whatsapp"></i> What's App Number: <a>+919163571821</a></li>
            </ul>
            <div class="top-right">
            </div>
        </div>
    </div>
    <!--header upper end-->

    <!-- header lower start-->
    <div class="header-lower">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="logo-data-1">
                        <a href="/">
                            <img style="width:90px;" src="/images/herbal-logo.png" alt="Logo" />
                        </a>
                    </div>
                </div>
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="menu-bar">
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li class="<%= currentPage === 'home' ? 'current' : '' %>"><a href="/">Home</a></li>
                                    <li class="<%= currentPage === 'products' ? 'current' : '' %>"><a href="/products">Products</a></li>
                                    <li class="<%= currentPage === 'prize' ? 'current' : '' %>"><a href="/prize">Prize</a></li>
                                    <li class="<%= currentPage === 'winners' ? 'current' : '' %>"><a href="/winner-list">Winner List</a></li>
                                    <li class="<%= currentPage === 'how-to-win' ? 'current' : '' %>"><a href="/how-to-win">How to Win</a></li>
                                    <li class="<%= currentPage === 'status' ? 'current' : '' %>"><a href="/status">Status</a></li>
                                    <li class="<%= currentPage === 'contact' ? 'current' : '' %>"><a href="/contact">Contact</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header lower end-->
</header>
<!-- main header area end -->
